* {
    margin: 0;
    padding: 0;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #053a5f;
    height: 20px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #5cd5eb;
    height: 20px;
    width: 40px;
}

body {
    background-color: black;
    color: white;
    font-family: Comic Sans MS, cursive;
    font-size: 16px;
}

.speedControl {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.speedControl div {
    display: flex;
    align-items: center;
    justify-content: center
}

.animationSpeedBlock {
    font-size: 1.5rem;
}

.mainControl {
    gap: 5px;
}

.mainControl input[type="button"] {
    font: inherit;
    padding: 5px;
    border-radius: 5px;
}

.orbitData{
    position: absolute;
    right: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.orbitData div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

table{
    border-collapse: collapse;
    text-align: center;
}

td, th{
    padding: 5px;
    border: 1px solid white;
}

td{
    width: 80px;
}

.modePanel{
    position: absolute;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.realTime{
    gap: 5px;
}

.year {
    font-size: 3rem;
    font-weight: bold;
}

.month-day-time{
    display: flex;
    flex-direction: column;
}

.month-day {
    font-size: 1.2rem;
    display: flex;
    gap: 5px;
}

.month-day span {
    letter-spacing: 1px;
}

.time {
    font-size: 1.2rem;
    letter-spacing: 3px;
    color: #00aaff;
}