* {
    margin: 0;
    padding: 0;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #053a5f;
    height: 20px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #5cd5eb;
    height: 20px;
    width: 40px;
}

body {
    background-color: black;
    color: white;
    font-family: Comic Sans MS, cursive;
    font-size: 16px;
}

.speedControl {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.speedControl div {
    display: flex;
    align-items: center;
    justify-content: center
}

.animationSpeedBlock {
    font-size: 1.5rem;
}

.mainControl {
    gap: 5px;
}

.mainControl input[type="button"] {
    font: inherit;
    padding: 5px;
    border-radius: 5px;
}

.orbit-data-container {
    position: absolute;
    right: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.orbit-data-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

select {
    background: black;
    color: inherit;
    font: inherit;
}

span{
    text-align: center;
}

.orbit-data-table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.orbit-data-block, .menuPanel {
    opacity: 0.2;
    transition: 0.5s ease;
}
.orbit-data-block:hover, .menuPanel:hover {
    opacity: 1;
}

td, th {
    padding: 5px;
    border: 1px solid white;
}

.menuPanel {
    position: absolute;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
}

select{
    width: 100%;
}

.positionChooser {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.realTime {
    gap: 5px;
}

.year {
    font-size: 3rem;
    font-weight: bold;
}

.month-day-time {
    display: flex;
    flex-direction: column;
}

.month-day {
    font-size: 1.2rem;
    display: flex;
    gap: 5px;
}

.month-day span {
    letter-spacing: 1px;
}

#day {
    width: 30px;
}

#month {
    width: 50px;
}

.time {
    font-size: 1.2rem;
    letter-spacing: 3px;
    color: #00aaff;
}